<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PracticeA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>569D53AD1DCC7966008076E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>569D53C61DCC7969008076E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>569D53D11DCC7969008076E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
